@font-face {
  font-family: 'Onest';
  src: url('~@/assets/fonts/Onest-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Onest';
  src: url('~@/assets/fonts/Onest-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Onest';
  src: url('~@/assets/fonts/Onest-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Onest';
  src: url('~@/assets/fonts/Onest-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Onest';
  src: url('~@/assets/fonts/Onest-Bold.ttf');
  font-weight: 700;
}

* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Onest', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

#app {
  background-color: $white-200;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100vh;
  overflow: auto;
  padding: 40px;
  width: 100%;

  @media (max-width: 992px) {
    padding: 20px;
  }
}
